.logout{
  margin-top: 1rem;
  background-color: #2eadd3 !important;
  border: none;
  padding: 0.5rem;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
.text-center{
  text-align: center;
}